<div class="flex place-items-start">
    <mat-button-toggle-group class="w-fit" name="dishType" color="primary" aria-label="Dish type">
        <mat-button-toggle value="Veg">Veg</mat-button-toggle>
        <mat-button-toggle value="Non-Veg">Non-veg</mat-button-toggle>
        <mat-button-toggle value="All">All</mat-button-toggle>
    </mat-button-toggle-group>
      

      <mat-form-field appearance="fill" class="w-3/12" aria-placeholder="Category">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="Starter">Starter</mat-option>
          <mat-option value="main-course">Main course</mat-option>
        </mat-select>
      </mat-form-field>
</div>
